<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="@{layout/default}">

<th:block layout:fragment="customContents">
	<div class="content-wrapper">
		<section class="content-header">
			<div class="container-fluid">
				<div class="row mb-2">
					<div class="col-sm-6">
						<h1 th:text="${midTitle}"></h1>
					</div>
					<div class="col-sm-6">
						<ol class="breadcrumb float-sm-right">
							<li class="breadcrumb-item"><a th:href="@{/}">Home</a></li>
							<li class="breadcrumb-item active" th:text="${midTitle}"></li>
						</ol>
					</div>
				</div>
			</div>
			<!-- /.container-fluid -->
		</section>
		
<!-- Main content -->
		<section class="content">
			<div class="container-fluid">
				<div class="row">
					<div class="col-12">
							<!-- card-header -->
							<div class="card card card-secondary">
								<div class="card-header">
									<h3 class="card-title">레벨테스트 신청 검색</h3>
								</div>
								<div class="card-body">
								<form id="searchLTApplyList" th:action="@{/admin/LT/LTApplyList}" method="post">
									<table class="table table-bordered table-hover" border="1" style="width: 100%; vertical-align: inherit;">
										<tr>
											<td class="searchInfo" style="vertical-align: middle; text-align: center;"><span>키워드 검색</span></td>
											<td colspan="3">
												<select id="searchKey" class="form-control select2 select2-hidden-accessible" style="width: 150px; display: inline;">
					                                <option value="">전체</option>
					                                <option value="user_name">이름</option>
					                                <option value="user_email">이메일</option>
					                                <option value="user_phone">전화번호</option>
				                            	</select>
												<input id="searchValue"  type="text" class="form-control" style="width: 400px; display: inline; virtical-">
											</td>
										</tr>
										<tr>
											<td class="searchInfo" style=" vertical-align: middle; text-align: center;"><span>날짜 검색 </span></td>
											<td colspan="3">
												<div>
													<div class="input-group">
														<div class="input-group-prepend">
															<span class="input-group-text"> 
																<i class="far fa-calendar-alt"></i>
															</span>
														</div>
															<input type="text" class="form-control float-right" id="reservation" style="width: 515px; flex: none;">
														</div>
													<!-- /.input group -->
												</div>
											</td>
										</tr>
									</table>
								<div class="row">
									<div class="col-md-4"></div>
									<div class="col-md-3" style="align-items: center;">
										<div>
											<button type="button" id="searchButton"
												class="btn btn-block btn-dark btn-md float-right"
												style="width: 30%; margin-left: 20px;">검색</button>
										</div>
										<div>
											<button type="button" id="resetButton"
												class="btn btn-block btn-default btn-md float-right"
												style="width: 44%; border-color: #68736a">초기화</button>
										</div>
									</div>
									<div class="col-md-5"></div>
								</div>
							</form>
						</div>
							<!-- /.card-body -->
	            		</div>
		              	<!-- /.card-header -->
						<div class="card">
							<div class="card-header">
								<h3 class="card-title">레벨테스트 신청 리스트</h3>
							</div>
							<!-- /.card-header -->
							<div class="card-body">
								<form id="chooseLT" th:action="@{/}" method="post">
									<table id="example1" class="table table-bordered table-hover" style="text-align: center;">
										<thead>
											<tr>
								                  <th>신청코드</th>
								                  <th>신청일</th>
								                  <th>이름</th>
								                  <th>이메일</th>
								                  <th>전화번호</th>
								                  <th>상세보기</th>
								                  <th>삭제</th>
											</tr>
			                  			</thead>
										<tbody id="ltApplyList">
												<tr th:each="l : ${LTApplyList}">
													<td th:text="${l.lTCode}"></td>
													<td th:text="${l.lTApplyDate}"></td>
													<td th:text="${l.userNameEx}"></td>
													<td th:text="${l.userEmailEx}"></td>
													<td th:text="${l.userPhoneEx}"></td>
													<td><a class="btn btn-primary btn-sm" href="/admin/LT/LTListDetail"><i class="fas fa-folder"></i>View</a></td>
													<td><a type="button" href="/admin/LT/deleteLTApplyList(ltCode=${l.ltCode})" class="deleteBtn btn btn-danger btn-sm">
														<i class="fas fa-trash"></i>Delete</a>
													</td>
												</tr>
											</tbody>
										</table>
									</form>
								</div>
								<!-- /.card-body -->
							</div>
							<!-- /.card -->
						</div>
						<!-- /.col -->
					</div>
					<!-- /.row -->
				</div>
				<!-- /.container-fluid -->
			</section>
		</div>
	<!-- jQuery -->
	<script th:src="@{/AdminLTE-master/plugins/jquery/jquery.min.js}"></script>
	<!-- Bootstrap 4 -->
	<!-- pagination 스크립트 ↓ -->
	 <script>
	  $(function () {
		    $('#example1').DataTable({
			      "paging": true,
			      "lengthChange": false,
			      "searching": false,
			      "ordering": true,
			      "info": true,
			      "autoWidth": false,
			      "responsive": true
		    });
	    	$("ul.pagination").css({"justify-content": "flex-end"})
	  });
	</script>
 	<script>
		//1.검색버튼 누를 때 조건에 맞는 리스트 출력
		$(function(){
				$('#searchButton').click(function(){
				var searchKey = $('#searchKey').val();
				var searchValue = $('#searchValue').val();
				var dateRangeFirst = $("#reservation").val().substring(0, 10);
				var dateRangeLast = $("#reservation").val().substring(13, 23);
				
				var MM1 = dateRangeFirst.substring(0, 2)
				var DD1 = dateRangeFirst.substring(3, 5)
				var YYYY1 = dateRangeFirst.substring(6, 10)
				var newDateRangeFirst = YYYY1 + "-" + MM1 + "-" + DD1;

				var MM2 = dateRangeLast.substring(0, 2)
				var DD2 = dateRangeLast.substring(3, 5)
				var YYYY2 = dateRangeLast.substring(6, 10)
				var newDateRangeLast = YYYY2 + "-" + MM2 + "-" + DD2
				
				var htmltag = "";
				
				var request = $.ajax({
					method : "POST", //요청방식
					url : "/admin/LT/LTApplyListBySearch", //요청주소
					data : {
						levelSearchKey : levelSearchKey ,
						lTApplySearchValue :lTApplySearchValue,
						dateRangeFirst : newDateRangeFirst,
						dateRangeLast : newDateRangeLast
					},
					dataType:"json"	//받아 올 포맷 방식
				});
				request.done(function(data){
						$('#ltApplyList').html("");
						for(var i=0; i<data.length; i++){
							htmltag += "<tr>";
							htmltag += "<td>";
							htmltag += data[i].lTCode;
							htmltag += "</td>";
							htmltag += "<td>";
							htmltag += data[i].lTApplyDate;
							htmltag += "</td>";
							htmltag += '<td>';
							htmltag += data[i].userNameEx;
							htmltag += '</a></td>';
							htmltag += "</td>";
							htmltag += '<td>';
							htmltag += data[i].userEmailEx;
							htmltag += "</td>";
							htmltag += '<td>';
							htmltag += data[i].userPhoneEx;
							htmltag += "</td>";
							htmltag += "<td>";
							htmltag += "<input type='hidden' name='ltCode' id='ltCode" + i + "' value='" + data[i].ltCode + "' />";
							htmltag += '<a class="btn btn-primary btn-sm" href="/admin/LT/LTListDetail"><i class="fas fa-folder"></i>View</a>';
							htmltag += "</td>";
							htmltag += "<td>";
							htmltag += '<a type="button" class="deleteBtn btn btn-danger btn-sm" ><i class="fas fa-trash"></i>Delete</a>';
							htmltag += "</td>";
							htmltag += "</tr>";
							}
						console.log(data[0]);
						$("#ltApplyList").html(htmltag);
						
				});
			});
		})
		$(function() {
		// daterangepicker 초기화 시작
		$('#resetButton').click(function() {
			var today = new Date()
			var date = today.getDate()
			var month = today.getMonth()+1
			var year = today.getFullYear()
			
			if(month<10){
				if(date<10){
					$('#reservation').val('0'+month+'/'+'0'+date+'/'+year+' - '+'0'+month+'/'+'0'+date+'/'+year)
				}else{
					$('#reservation').val('0'+month+'/'+date+'/'+year+' - '+'0'+month+'/'+date+'/'+year)
				}
			}else(
					$('#reservation').val(month+'/'+date+'/'+year+' - '+month+'/'+date+'/'+year)
			);
		
			//초기화버튼 클릭시 (초기값은  전체검색)
			$('#searchKey').val(''); 	 
			$('#searchValue').val('');			 
			})
		});
		</script>

</th:block>
</html>