<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
	  
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
<link rel="stylesheet" href="/resources/demos/style.css">
<script src="https://code.jquery.com/jquery-1.12.4.js"></script>
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
	  	  
	  
<th:block layout:fragment="customTitle">
	<title th:text="${title}"></title>
</th:block>
<head th:replace="fragments/head :: headFragment"></head>
	<!-- daterange picker -->
	<link rel="stylesheet" th:href="@{/AdminLTE-master/plugins/daterangepicker/daterangepicker.css}">
	<body class="hold-transition sidebar-mini layout-fixed">
		<div id="wrapper">
			<!-- begin topNav -->
			<div th:replace="fragments/topNav :: topNavFragment"></div>
			<!-- end topNav -->
			
			<!-- Main Sidebar Container -->
			<div th:replace="fragments/sideBar :: sideBarFragment01"></div>
			<th:block layout:fragment="LTApply"> 
				<!-- Content Wrapper. Contains page content -->
			<div class="content-wrapper">
			<!-- Content Header (Page header) -->
				<section class="content-header">
					<div class="container-fluid">
						<div class="row mb-2">
							<div class="col-sm-6">
								<h1 th:text="${midTitle}"></h1>
							</div>
							<div class="col-sm-6">
								<ol class="breadcrumb float-sm-right">
									<li class="breadcrumb-item"><a th:href="@{/admin/LT/LTApply}"> 레벨테스트 관리 </a></li>
									<li class="breadcrumb-item active" th:text="${midTitle}"></li>
								</ol>
							</div>
						</div>
					</div><!-- /.container-fluid -->
				</section>
			
	    <!-- Main content -->
		<section class="content">
		<div class="con">
		<form method="get" name="ftest" id="ftest" class="sky-form" action="/admin/LT/LTApplyList" onsubmit="return ck_form();" target="h_frame">
                 <div class="card card-info">
                   <table summary="레벨테스트신청리스트" class="table table-bordered">
                    <tbody>
					</tbody>
				</table>
			</div>
			</form>
			</div>
		</section>
		
		<!-- /.content -->
		<!-- /.content-wrapper -->
	
		</div>
		<!-- /.container-fluid -->
		<!-- /.content -->
		</th:block>

			
		<div th:replace="fragments/footer :: footerFragment"></div>
		</div>
		<!-- jQuery -->
		<script th:src="@{/AdminLTE-master/plugins/jquery/jquery.min.js}"></script>
		<!-- jQuery UI 1.11.4 -->
		<script th:src="@{/AdminLTE-master/plugins/jquery-ui/jquery-ui.min.js}"></script>
		<!-- Resolve conflict in jQuery UI tooltip with Bootstrap tooltip -->
		<script>
		  $.widget.bridge('uibutton', $.ui.button)
		</script>
		<!-- Bootstrap 4 -->
		<script th:src="@{/AdminLTE-master/plugins/bootstrap/js/bootstrap.bundle.min.js}"></script>
		<!-- ChartJS -->
		<script th:src="@{/AdminLTE-master/plugins/chart.js/Chart.min.js}"></script>
		<!-- Sparkline -->
		<script th:src="@{/AdminLTE-master/plugins/sparklines/sparkline.js}"></script>
		<!-- daterangepicker -->
		<script th:src="@{/AdminLTE-master/plugins/moment/moment.min.js}"></script>
		<script th:src="@{/AdminLTE-master/plugins/daterangepicker/daterangepicker.js}"></script>
		<!-- date-range-picker -->
		<script th:src="@{/AdminLTE-master/plugins/daterangepicker/daterangepicker.js}"></script>
		<!-- Tempusdominus Bootstrap 4 -->
		<script th:src="@{/AdminLTE-master/plugins/tempusdominus-bootstrap-4/js/tempusdominus-bootstrap-4.min.js}"></script>
		<!-- Summernote -->
		<script th:src="@{/AdminLTE-master/plugins/summernote/summernote-bs4.min.js}"></script>
		<!-- overlayScrollbars -->
		<script th:src="@{/AdminLTE-master/plugins/overlayScrollbars/js/jquery.overlayScrollbars.min.js}"></script>
		<!-- AdminLTE App -->
		<script th:src="@{/AdminLTE-master/dist/js/adminlte.js}"></script>
		<!-- AdminLTE for demo purposes -->
		<script th:src="@{/AdminLTE-master/dist/js/demo.js}"></script>
		<!-- AdminLTE dashboard demo (This is only for demo purposes) -->
		<script th:src="@{/AdminLTE-master/dist/js/pages/dashboard.js}"></script>
		
		<script>
			$(function () {
		    //Date range picker
		    $('#reservation').daterangepicker()})
  		</script>
  		
		
		
		
</body>
</html>
