<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
	  
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
<script src="https://code.jquery.com/jquery-1.12.4.js"></script>
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
	  	  
	  
<th:block layout:fragment="customTitle">
	<title th:text="${title}"></title>
</th:block>
<head th:replace="fragments/head :: headFragment"></head>
	<!-- daterange picker -->
	<link rel="stylesheet" th:href="@{/AdminLTE-master/plugins/daterangepicker/daterangepicker.css}">
	<body class="hold-transition sidebar-mini layout-fixed">
		<div id="wrapper">
			<!-- begin topNav -->
			<div th:replace="fragments/topNav :: topNavFragment"></div>
			<!-- end topNav -->
			
			<!-- Main Sidebar Container -->
			<div th:replace="fragments/sideBar :: sideBarFragment01"></div>
			<th:block layout:fragment="LTApply"> 
			<!-- Content Wrapper. Contains page content -->
			<div class="content-wrapper">
			<!-- Content Header (Page header) -->
				<section class="content-header">
					<div class="container-fluid">
						<div class="row mb-2">
							<div class="col-sm-6">
								<h1 th:text="${midTitle}"></h1>
							</div>
							<div class="col-sm-6">
								<ol class="breadcrumb float-sm-right">
									<li class="breadcrumb-item"><a th:href="@{/admin/LT/LTApply}"> 레벨테스트 관리 </a></li>
									<li class="breadcrumb-item active" th:text="${midTitle}"></li>
								</ol>
							</div>
						</div>
					</div><!-- /.container-fluid -->
				</section>
			
		<!-- Main content -->
		<section class="content">
		<div class="con">
		<form method="get" name="ftest" id="ftest" class="sky-form" action="/admin/LT/LTApply" onsubmit="return ck_form();" target="h_frame">
			<input type="hidden" name="ckd_email" class="ckd_email" value="1">
			<input type="hidden" name="userid" value="3765">
			<input type="hidden" name="shop_id" value="nilenglish">
			<div class="title">
					<ul>
						<li class="text-info" style="list-style: none;"><i class="fa fa-arrow-right"></i>  레벨테스트는 월~금 9~22시 사이에 신청가능하며, 10분 진행됩니다.</li>
						<li class="text-info" style="list-style: none;"><i class="fa fa-arrow-right"></i>  주말과 공휴일에는 레벨테스트를 진행하지 않습니다.</li>
						<li class="text-info" style="list-style: none;"><i class="fa fa-arrow-right"></i>  평가결과는 홈페이지 &gt; 마이페이지에서 확인하실 수 있습니다.</li>
						<li class="text-info" style="list-style: none;"><i class="fa fa-arrow-right"></i><font color="red">  선생님과의 시간조정으로 최대 앞뒤 30분정도 시간이 변경될수도 있습니다.</font></li>
						<!--<li class="text-info"><i class="fa fa-arrow-right"></i>  로그인을 먼저 해주세요.</li>-->
						<li class="text-info" style="list-style: none;"><i class="fa fa-arrow-right"></i><font color="orange">  당일 레벨테스트 진행을 원하시면 고객지원센터 (000-0000)로 연락주세요!</font></li>
					</ul>
			</div>
                 <div class="card card-info">
                   <table summary="레벨테스트신청" class="table table-bordered">
                    <tbody>
						 <tr>
							<th style="width:24%;">수업구분</th>
								<td class="linetop2px">
									<div class="inline-group">
										
										<label class="radio at-tooltip" data-container="body" title="레벨테스트를 신청합니다"><input type="radio" name="classType" value="1"  checked ><i></i>레벨테스트</label>
									<!--<label class="radio at-tooltip" data-container="body" title="무료 체험학습을 신청합니다"><input type="radio" name="class_type" value="2" checked=""><i></i>체험수업</label>	 -->	
									</div>
								</td>
						  </tr>
						  <tr>
							<th class="linetop1px">아이디</th>
								<td>
									<div class="form-group">
										<label class="input">
											<i class="icon-append fa fa-user"></i>
											<input type="text" name="studentId" value="" style="background:#fff">
											<b id="studentname_msg" class="tooltip tooltip-top-right">아이디를 입력해 주세요.</b>
										</label>
									</div>
								</td>
						  </tr>
						  <tr>
							<th class="linetop1px">한글이름</th>
								<td>
									<div class="form-group">
										<label class="input">
											<i class="icon-append fa fa-user"></i>
											<input type="text" name="krName" value="" style="background:#fff">
											<b id="kname_msg" class="tooltip tooltip-top-right">한글이름을 입력해 주세요.</b>
										</label>
									</div>
								</td>
						  </tr>
						  <tr>
							<th class="linetop1px">영어닉네임</th>
								<td>
									<div class="form-group">
										<label class="input">
											<i class="icon-append fa fa-user"></i>
											<input type="text" name="enName" value="" style="background:#fff">
											<b id="ename_msg" class="tooltip tooltip-top-right">영어닉네임을 입력해 주세요.</b>
										</label>
									</div>
									
								</td>
						  </tr>
						  <!-- <tr>
							<th class="linetop1px">스카이프</th>
							<td>
								<div class="form-group">
									<label class="input">
										<i class="icon-append fa fa-skype"></i>
										<input type="text" name="skypeId" value="" style="background:#fff">
										<b id="skype_msg" class="tooltip tooltip-top-right">스카이프 아이디를 입력해 주세요.</b>
									</label>
								</div>
							</td>
						  </tr> -->
						  <tr>
							<th class="linetop1px">이메일</th>
								<td>
									<div class="form-group">
										<label class="input">
											<i class="icon-append fa fa-phone"></i>
											<input type="tel" name="userEmail" value="" style="background:#fff">
											<b class="tooltip tooltip-top-right">이메일을 입력해 주세요.</b>
										</label>
									</div>
								</td>
						  </tr>
						  <tr>
							<th class="linetop1px">연락처</th>
								<td>
									<div class="form-group">
										<label class="input">
											<i class="icon-append fa fa-phone"></i>
											<input type="tel" name="userPhone" value="" style="background:#fff">
											<b class="tooltip tooltip-top-right">핸드폰 번호를 입력해 주세요.</b>
										</label>
									</div>
								</td>
						  </tr>
						  <tr>
							<th class="linetop1px">테스트 시간</th>
								<td>
									<div class="input-group">
										<input type="text" class="form-control left" maxlength="10" name="tdate" id="tdate" readonly="" onclick="selTime();">
										<span class="input-group-btn">
											<button type="button" class="btn btn-base" onclick="selTime();"><i class="fa fa-calendar"></i> 일자/시간</button>

										</span>
									</div>			
								</td>
						  </tr>
						  <tr>
							<th class="linetop1px">하고싶은 말</th>
								<td>
									<textarea name="requestedTerm" style="width:99%;height:100px" placeholder="레벨테스트는 프리토킹 형식으로 진행됩니다. 학생분의 나이, 영어레벨, 영어공부목표를 적어주시면 선생님께서 수업준비에 큰 도움이 됩니다. "></textarea>
								</td>
						  </tr>
					</tbody>
				</table>
			<!-- /.container-fluid -->
				<div style="text-align:center;">
				  <input type="submit" class="btn btn-secondary" value="레벨테스트신청">
				</div>
			</div>
		</form>
	</div>
			<!-- Modal Window -->
		<div class="modal fade" id="bf-modal" tabindex="-2" role="dialog" aria-labelledby="bf-header-title2" style="z-index: 9999; display: none;">
	  		<div class="modal-dialog">
				<div class="modal-content">
					<div class="modal-header">
						<h4 class="modal-title" id="modal-header-title2" style="font-weight:bolder;">레벨테스트 시간 선택</h4>
						<button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">×</span><span class="sr-only">Close</span></button>
		  			</div>
		  				<div class="modal-body">
		  					<table style="width:100%;">
								<tbody>
									<tr>
										<td class="fc03"><i class="fa fa-arrow-right"></i> 레벨테스트를 받길 원하시는 시간을 선택하여주세요.</td>
									</tr>
									<tr>
										<td class="fc03">&nbsp;&nbsp;<font color="#CC3300">(금일 기준 2주 이내로만 신청 가능합니다.)</font></td>
									</tr>
									<tr>
										<td class="fc03"><i class="fa fa-arrow-right"></i> 월~금 9~22시</td>
									</tr>
								</tbody>
							</table>
							<p><font class="fc18"><strong>파란색</strong> : 예약가능</font> / <font class="fc20"><strong>빨강색</strong> : 예약불가</font></p>
							<form method="get" name="selDay" id="selDay" class="sky-form">
								<div class="input-group">
									<span class="input-group-btn">
										<input type="text" name="datepicker" id="datepicker" maxlength="10" readonly="" style="position:none;" >
										<button type="button" id="sDate" class="btn btn-info"> 수업날짜 조회</button>
									</span>
								</div>
							</form>
							<table class="table table-bordered">
								<tbody>
									<tr class="td_16 linetop1px" th:each="num : ${#numbers.sequence(9,21)}">
										<td class="td_16 linetop1px" th:text="${num + '시'}">
										</td>
										<th:block th:each="part : ${#numbers.sequence(0,5)} ">
											<td class="td_17 fc18 choice-part" th:text="${(part * 10) + '분'}" th:data-time="${num}" th:data-part="${part}"></td>
										</th:block>
									</tr>
								</tbody>
							</table>
					</div>
				</div>
			</div>
		</div>
		</section>
	<!-- /.content -->
	<!-- /.content-wrapper -->
	
<style>
.td_16 {
    font-family: 돋움,돋움체,Verdana;
    font-size: 9pt;
    line-height: 25px;
	width:52px;
	text-align:center;
}
.td_17 {
    font-family: 돋움,돋움체,Verdana;
    font-size: 11px;
	text-align:center;
	
}
.td_17:hover {
	background:#ECECEC;
	cursor:pointer;
}
.fc03 {
    color: #F8871F;
    font-weight: bold;
}
.fc18 {
    color: #2882B7;
    font-family: "돋움";
    font-size: 9pt;
    line-height: 13pt;
}
.fc19 {
    color: #7F7F7F;
    font-family: "돋움";
    font-size: 9pt;
    font-weight: bold;
    line-height: 13pt;
    padding-left: 15px;
}
.fc20 {
    color: #E7002A;
    font-family: "돋움";
    font-size: 9pt;
    line-height: 13pt;
    text-decoration: line-through;
}
.fc21 {
    color: #E7002A;
    font-family: "돋움";
    font-size: 8pt;
    line-height: 13pt;
}
.fc22 {
    color: #7F7F7F;
    font-family: "돋움";
    font-size: 9pt;
    line-height: 13pt;
}
#datepicker {position:static;}

</style>

		
		
		<!-- /.row -->
		</div><!-- /.container-fluid -->
			<!-- /.content -->
		</th:block>
			
		<div th:replace="fragments/footer :: footerFragment"></div>
		</div>
		<!-- jQuery -->
		<script th:src="@{/AdminLTE-master/plugins/jquery/jquery.min.js}"></script>
		<!-- jQuery UI 1.11.4 -->
		<script th:src="@{/AdminLTE-master/plugins/jquery-ui/jquery-ui.min.js}"></script>
		<!-- Resolve conflict in jQuery UI tooltip with Bootstrap tooltip -->
		<script>
		  $.widget.bridge('uibutton', $.ui.button)
		</script>
		<!-- Bootstrap 4 -->
		<script th:src="@{/AdminLTE-master/plugins/bootstrap/js/bootstrap.bundle.min.js}"></script>
		<!-- ChartJS -->
		<script th:src="@{/AdminLTE-master/plugins/chart.js/Chart.min.js}"></script>
		<!-- Sparkline -->
		<script th:src="@{/AdminLTE-master/plugins/sparklines/sparkline.js}"></script>
		<!-- daterangepicker -->
		<script th:src="@{/AdminLTE-master/plugins/moment/moment.min.js}"></script>
		<script th:src="@{/AdminLTE-master/plugins/daterangepicker/daterangepicker.js}"></script>
		<!-- date-range-picker -->
		<script th:src="@{/AdminLTE-master/plugins/daterangepicker/daterangepicker.js}"></script>
		<!-- Tempusdominus Bootstrap 4 -->
		<script th:src="@{/AdminLTE-master/plugins/tempusdominus-bootstrap-4/js/tempusdominus-bootstrap-4.min.js}"></script>
		<!-- Summernote -->
		<script th:src="@{/AdminLTE-master/plugins/summernote/summernote-bs4.min.js}"></script>
		<!-- overlayScrollbars -->
		<script th:src="@{/AdminLTE-master/plugins/overlayScrollbars/js/jquery.overlayScrollbars.min.js}"></script>
		<!-- AdminLTE App -->
		<script th:src="@{/AdminLTE-master/dist/js/adminlte.js}"></script>
		<!-- AdminLTE for demo purposes -->
		<script th:src="@{/AdminLTE-master/dist/js/demo.js}"></script>
		<!-- AdminLTE dashboard demo (This is only for demo purposes) -->
		<script th:src="@{/AdminLTE-master/dist/js/pages/dashboard.js}"></script>
		<script>
			$(function () {
		    //Date range picker
		    $('#reservation').daterangepicker()})
		    
			$( function() {
			$( "#datepicker" ).datepicker();});
  		</script>
		
		<script type="text/javascript">
	
			
			//=== 레벨테스트 유효성검사
			function ck_form() { 
				var form = document.getElementById('ftest');
			
				if(form.studentId.value=="") {	
					alert("아이디를 입력하세요");
					form.studentId.focus(); 
					return false;
				}
				
				if(form.krName.value=="") {	
					alert("한글이름을 입력하세요");
					form.krName.focus(); 
					return false;
				}
			
				if(form.enName.value=="") {	
					alert("영문닉네임을 입력하세요");
					form.enName.focus(); 
					return false;
				}
				//=== 이메일 체크
				if(form.userEmail.value=="") {	
					alert("이메일을 입력하세요");
					form.userEmail.focus(); 
					return false;
				}
				
				//=== 전화번호 체크
				if(form.userPhone.value=="") {
					alert("연락처를 입력하세요");
					form.userPhone.focus();
					return false;
				}
			
				/* if($('input[name=cway]:checked').val()==3 && form.skype.value=="") {	
					if(confirm("스카이프로 신청하실 경우 스카이프 아이디가 필요합니다. 지금 입력하시겠습니까?")) {
						form.skype.focus(); 
						return false;
					}
				} */
				
				if(form.tdate.value=="") {	
					alert("테스트 가능한 날짜를 입력하세요");
					form.tdate.focus();
					return false;
					}
				}
			
				//=== 레벨테스트 모달 시간선택
				function selTime(){
					$('#bf-modal .modal-title').html('레벨테스트 시간 선택');
					var margin_left = parseInt(270)*(-1);
						
					$('#bf-modal').modal({
						show:true,
						backdrop:false
					}).find(".modal-body").load("/registration/free_time.exe.php");
				}
				
				function setDateTime(d) {
					$("#bf-modal").modal('hide');
					$("#bf-modal").removeData('modal');
					
					setTimeout(function() { 
						$(document.body).addClass('modal-open');
						document.getElementById('tdate').value = d ; }
					,300);
				}
				
		
				$('.choice-part').click(function(){
					
					var getTd = $(this);
					var time = Number($(this).attr('data-time'));
					var part = Number($(this).attr('data-part'));
					var nday =  document.getElementById('datepicker');
					
					if(nday.value == ''){
						alert('날짜를 선택해주세요.')
						return false;
					}
					
					
					var request = $.ajax({
					  url: "/admin/LT/LTApplyListAjax",
					  method: "POST",
					  data: { time:time, part:part, nday:nday.value},
					  dataType: "json"
					});
					 
					request.done(function( data ) {
					 	console.log(data)
					 	
					 	if(data.result == 1){
					 		
					 		var cDay = nday.value.split("-");
							cDate = new Date(cDay[0], cDay[1]-1, cDay[2]);
							if(cDate.getDay()==6 || cDate.getDay()==0){
								alert("토요일, 일요일에는 레벨테스트를 진행하지 않습니다.");
								nday.value="";
								return false;
							}
							
							if(time ==0) {
								nday.value = "";
							}
							
							if(time < 10) time = "0" + time;
							if(part < 10) part = "0" + part;
							
							setDateTime(nday.value+" " + time + "시 " + part + "분");
							//getTd.addClass('fc20').removeClass('fc18');
					 		
					 	}else{
					 		getTd.addClass('fc20').removeClass('fc18');
					 		alert('수강신청을 하실 수 없습니다.');
					 	}
					 	
					});
					 
					request.fail(function( jqXHR, textStatus ) {
					  alert( "Request failed: " + textStatus );
					});
						
					
				});
					
				$("#datepicker").datepicker({
						dateFormat:"yy-mm-dd",
						showOtherMonths:true,
						selectOthereMonths:true,
						changeMonth:true,
						changeYear:true
					}).change(function() {
						$("#bf-modal").removeData('modal');
						$("#bf-modal").find(".modal-body").load("/registration/free_time.exe.php?nday="+document.getElementById('datepicker').value);
					});
				
				$('#sDate').click(function(){
				    $('#nday').css('position','static').datepicker("show");
				});
		</script>
		
</body>
</html>
