<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="@{layout/default}">
	  
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
<script src="https://code.jquery.com/jquery-1.12.4.js"></script>
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
	  	  
	  
<th:block layout:fragment="customContents">
	<div class="content-wrapper">
		<section class="content-header">
			<div class="container-fluid">
				<div class="row mb-2">
					<div class="col-sm-6">
						<h1 th:text="${midTitle}"></h1>
					</div>
					<div class="col-sm-6">
						<ol class="breadcrumb float-sm-right">
							<li class="breadcrumb-item"><a th:href="@{/}">Home</a></li>
							<li class="breadcrumb-item active" th:text="${midTitle}"></li>
						</ol>
					</div>
				</div>
			</div>
			<!-- /.container-fluid -->
		</section>
			
		<!-- Main content -->
				<section class="content">
			      <div class="container-fluid">
			        <div class="row">
			          <div class="col-12">
			
			            <div class="card card">
			              <div class="card-header">
			                <div class="btn-group btn-group-toggle" data-toggle="buttons">
			                  <label class="btn bg-olive">
			                    <input type="radio" name="options" id="option_b1" autocomplete="off">
			                    <a href="/admin/LT/LTListDetail">레벨테스트 상세정보</a>
			                  </label>
			                  <label class="btn bg-olive active">
			                    <input type="radio" name="options" id="option_b3" autocomplete="off" checked="">
			                    <a href="/admin/LT/LTListMynote">레벨테스트 학습노트</a>
			                  </label>
			                </div>
			              </div>
			            </div>
			
			              <!-- /.card-header -->
	              <!-- form start -->
			            <div class="card card-secondary">
			              <div class="card-header">
			                <h3 class="card-title">학습노트</h3>
			              </div>
			              <!-- /.card-header -->
						<form>
			              <div class="card-body">
			              	<div class="col-sm-12">
								<div class="row">
			                  	<!-- 섬머노트 시작 -->
				                  	<div class="form-group">
				                  		<label>선생님 코멘트</label>
					                    <div class="col-sm-12">
					                  		<textarea name="content" id="summernote" class="summernote"></textarea>
					                    </div>
				                    <!-- 섬머노트 끝 -->
									</div>
								<div class="row">
				                    <div class="col-sm-4">
				                      <!-- text input -->
				                      <div class="form-group">
				                        <label>강사명</label>
				                        <input type="text" class="form-control" placeholder="강사명..">
				                      </div>
				                    </div>
				                    <div class="col-sm-4">
				                      <div class="form-group">
				                        <label>교육과정</label>
				                        <input type="text" class="form-control" placeholder="수강 교육과정..">
				                      </div>
				                    </div>
				                    <div class="col-sm-4">
				                      <div class="form-group">
				                        <label>작성날짜</label>
				                        <input type="text" class="form-control" placeholder="작성날짜.."><!-- 작성 날짜 자동으로 등록 진행 바랍니다. -->
				                      </div>
									</div>
								</div>
			
			                    <div class="col-sm-12">
			                      <div class="form-group">
			                        <div class="text-center">
			                          <button type="submit" class="btn btn-secondary">
			                          	<a href="" style="color: #ffffff;">글저장</a>
			                          </button>
			                        </div>
			                      </div>
			                    </div>
			                 
			                    
			                    <br>
			                      <div class="col-sm-12">
			                        <div class="form-group">
			                          <div class="table-container">
			                            <!-- table-container 20201121 추가-->
			                            <table class="table">
			                              <tbody>
			                                <tr style="background-color: #e4e4e4;">
			                                  <th style="text-align: center">선택</th>
			                                  <th style="text-align: center">NO</th>
			                                  <th style="text-align: center">교육과정</th>
			                                  <th style="text-align: center">강사명</th>
			                                  <th style="text-align: center">작성일</th>
			                                  <th style="text-align: center">내용선택</th>
			                                </tr><tr>
			                                  <td>
			                                    <div class="form-check">
			                                      <input type="checkbox" class="form-check-input" id="exampleCheck1">
			                                    </div>
			                                  </td>
			                                  <td style="text-align: center">3</td>
			                                  <td style="text-align: center">일반성인회화</td>
			                                  <td style="text-align: center">Becca</td>
			                                  <td style="text-align: center">2121-03-02</td>
			                                  <td style="text-align: center">
			                                      <button class="btn btn-secondary">내용보기</button>
			                                  </td>
			                                </tr>
			                                <tr>
			                                  <td>
			                                    <div class="form-check">
			                                      <input type="checkbox" class="form-check-input" id="exampleCheck1">
			                                    </div>
			                                  </td>
			                                  <td style="text-align: center">2</td>
			                                  <td style="text-align: center">비지니스</td>
			                                  <td style="text-align: center">Becca</td>
			                                  <td style="text-align: center">2121-02-10</td>
			                                  <td style="text-align: center">
			                                      <button class="btn btn-secondary">내용보기</button>
			                                  </td>
			                                </tr>
			                                <tr>
			                                  <td>
			                                    <div class="form-check">
			                                      <input type="checkbox" class="form-check-input" id="exampleCheck1">
			                                    </div>
			                                  </td>
			                                  <td style="text-align: center">1</td>
			                                  <td style="text-align: center">시험영어</td>
			                                  <td style="text-align: center">Cendy</td>
			                                  <td style="text-align: center">2121-01-11</td>
			                                  <td style="text-align: center">
			                                      <button class="btn btn-secondary">내용보기</button>
			                                  </td>
			                                </tr>
			                              </tbody>
			                            </table>
			                          </div>
			                        </div>
			                      </div>
			                      <div class="col-sm-12">
			                        <div class="form-group">
			                          <div class="text-center">
			                            <button type="submit" class="btn btn-secondary">선택삭제</button>
			                          </div>
			                        </div>
			                      </div>
			                      <!-- /.card-body -->
			                      <div class="col-sm-12">
			                        <div class="card-footer clearfix">
			                          <ul class="pagination pagination-sm m-0 float-right">
			                            <li class="page-item"><a class="page-link" href="#">«</a></li>
			                            <li class="page-item"><a class="page-link" href="#">1</a></li>
			                            <li class="page-item"><a class="page-link" href="#">2</a></li>
			                            <li class="page-item"><a class="page-link" href="#">3</a></li>
			                            <li class="page-item"><a class="page-link" href="#">»</a></li>
			                          </ul>
			                        </div>
			                      </div>
			                  </div>
			              </div>
			              <!-- /.card-body -->
			           </form>
			            </div>
			            <!-- /.card -->
			          </div>
			          <!-- /.col -->
			        </div>
			        <!-- /.row -->
			      </div>
			      <!-- /.container-fluid -->
			    </section>
		<!-- /.content -->
			</div>
			<!-- /.content-wrapper -->
	<!-- jQuery -->
	<script th:src="@{/AdminLTE-master/plugins/jquery/jquery.min.js}"></script>
	<!-- Bootstrap 4 -->
	<!-- pagination 스크립트 ↓ -->
	<script>
	  $(function () {
		    $('#example1').DataTable({
			      "paging": true,
			      "lengthChange": false,
			      "searching": false,
			      "ordering": true,
			      "info": true,
			      "autoWidth": false,
			      "responsive": true
		    });
	    	$("ul.pagination").css({"justify-content": "flex-end"})
	  });
	</script>
  		
  		<!-- 섬머노트 스크립트 부분 시작 -->
  		<script>
  			$(document).ready(function() {
  				$('#summernote').summernote();
  			});
  		</script>  		
  		<!-- 섬머노트 스크립트 부분 끝 -->
		
		
		
</th:block>
</html>
