<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="callinedu.callin.mapper.ClassMapper">
	<resultMap type="ClassPolicy" id="classPolicyResultMap">
		<result property="classPolicyCode" 			column="class_policy_code"/>
		<result property="classPolicyName" 			column="class_policy_name"/>
		<result property="classPeriod" 				column="class_period"/>
		<result property="classDay" 				column="class_day"/>
		<result property="classTime" 				column="class_time"/>
		<result property="classPostponeDay" 		column="class_postpone_day"/>
		<result property="classPostponeDays" 		column="class_postpone_days"/>
		<result property="classPostponePeriod" 		column="class_postpone_period"/>
		<result property="modifyDate" 				column="modify_date"/>
		<result property="modifyUser" 				column="modify_user"/>
	</resultMap>
	
	<resultMap type="RegularClass" id="regularClassResultMap">
		<result property="regularClassCode" 		column="regular_class_code"/>
		<result property="classPolicyCode" 			column="class_policy_code"/>
		<result property="courseName" 				column="course_name"/>
		<result property="courseLanguage" 			column="course_language"/>
		<result property="managerId" 				column="manager_id"/>
		<result property="courseTuition" 			column="course_tuition"/>
		<association property="classPolicy" javaType="ClassPolicy">
			<id property="classPolicyCode"				column="class_policy_code"/>
			<result property="classPeriod" 				column="class_period"/>
			<result property="classDay" 				column="class_day"/>
			<result property="classTime" 				column="class_time"/>
		</association>
	</resultMap>
	
	<resultMap type="ClassApply" id="classApplyResultMap">
		<result property="studentId" 				column="student_id"/>
		<result property="regularClassCode" 		column="regular_class_code"/>
		<result property="classStartTime" 			column="class_start_time"/>
		<result property="classStartDate" 			column="class_start_date"/>
		<result property="registrationDate" 		column="registration_date"/>
		<result property="applyApproveCode"			column="apply_approve_code"/>
		<result property="applyApproveDate"			column="apply_approve_date"/>
		<association property="regularClass" javaType="RegularClass">
			<id property="regularClassCode" 		column="regular_class_code"/>
			<result property="classPolicyCode" 			column="class_policy_code"/>
			<result property="courseName" 				column="course_name"/>
			<result property="courseLanguage" 			column="course_language"/>
			<result property="managerId" 				column="manager_id"/>
			<result property="courseTuition" 			column="course_tuition"/>
			<association property="classPolicy" javaType="ClassPolicy">
				<id property="classPolicyCode"				column="class_policy_code"/>
				<result property="classPeriod" 				column="class_period"/>
				<result property="classDay" 				column="class_day"/>
				<result property="classTime" 				column="class_time"/>
			</association>
		</association>
	</resultMap>
	
	
	
	
	<insert id="addClassPolicy" parameterType="ClassPolicy">
		INSERT INTO class_policy
		(   class_policy_code
		   ,class_policy_name
		   ,class_period
		   ,class_day
		   ,class_time
		   ,class_postpone_day
		   ,class_postpone_days
		   ,class_postpone_period
		   ,modify_date
		   ,modify_user
		) VALUES (
		    CONCAT(NOW(), 'id001')
		   ,#{classPolicyName}
		   ,#{classPeriod}
		   ,#{classDay}
		   ,#{classTime}
		   ,#{classPostponeDay}
		   ,#{classPostponeDays}
		   ,#{classPostponePeriod}
		   ,CURDATE()
		   ,'id001'
		);	
	</insert>
	
	<select id ="classPolicyNameCheck" parameterType="ClassPolicy" resultMap="classPolicyResultMap">
	    SELECT
	    	class_policy_code
		   ,class_policy_name
		   ,class_period
		   ,class_day
		   ,class_time
		   ,class_postpone_day
		   ,class_postpone_days
		   ,class_postpone_period
		   ,modify_date
		   ,modify_user
	    FROM
			class_policy
	    WHERE
			class_policy_name = #{classPolicyName};
	</select>

	
	<select id="getClassPolicyListBySearchKey" parameterType="String" resultMap="classPolicyResultMap">
		SELECT
			  class_policy_code
			, class_policy_name			
			, class_period				
			, class_day
			, class_time
			, class_postpone_day
			, class_postpone_days
			, class_postpone_period
		FROM
			class_policy
		<trim prefix="WHERE" prefixOverrides="AND |OR ">
			<if test="levelSearchKey != null and levelSearchKey != ''">
				${levelSearchKey} LIKE CONCAT('%', #{classPolicySearchValue} ,'%')
			</if>
		</trim>
		order by class_policy_name ASC limit 0,10;
	</select>
	
	<select id="getClassPolicy" parameterType="ClassPolicy" resultMap="classPolicyResultMap">
		SELECT
			class_policy_code,
			class_policy_name, 
			class_period, 
			class_day, 
			class_time, 
			class_postpone_day, 
			class_postpone_days, 
			class_postpone_period
		FROM 
			class_policy order by class_policy_name ASC limit 0,10;
	</select>
	
	<select id="getRegularClass" parameterType="RegularClass" resultMap="regularClassResultMap">
		SELECT
			r.regular_class_code,
			r.class_policy_code, 
			r.course_name, 
			r.course_language, 
			r.manager_id, 
			r.course_tuition,
			p.class_period,
			p.class_day,
			p.class_time
		FROM 
			regular_class AS r
		INNER JOIN
			class_policy AS p
		ON
			p.class_policy_code = r.class_policy_code	
		order by r.course_name ASC limit 0,10;
	</select>
	
	<select id="getPolicyInfoByCode" parameterType="String" resultMap="classPolicyResultMap">
		SELECT
			class_policy_code,
			class_policy_name, 
			class_period, 
			class_day, 
			class_time, 
			class_postpone_day, 
			class_postpone_days, 
			class_postpone_period
		FROM
			class_policy
		WHERE
			class_policy_code = #{classPolicyCode};
	</select>
	<update id="modifyPolicy" parameterType="ClassPolicy">
		UPDATE class_policy
		<trim prefix="SET" suffixOverrides=",">
			<if test="classPolicyCode != null and classPolicyCode != ''.toString()">
				class_policy_code = #{classPolicyCode},
			</if>
			<if test="classPolicyName != null and classPolicyName != ''.toString()">
				class_policy_name = #{classPolicyName},
			</if>
			<if test="classPeriod != null and classPeriod != ''.toString()">
				class_period = #{classPeriod},
			</if>
			<if test="classDay != null and classDay != ''.toString()">
				class_day = #{classDay},
			</if>
			<if test="classTime != null and classTime != ''.toString()">
				class_time = #{classTime},
			</if>
			<if test="classPostponeDay != null and classPostponeDay != ''.toString()">
				class_postpone_day = #{classPostponeDay},
			</if>
			<if test="classPostponeDays != null and classPostponeDays != ''.toString()">
				class_postpone_days = #{classPostponeDays},
			</if>
			<if test="classPostponePeriod != null and classPostponePeriod != ''.toString()">
				class_postpone_period = #{classPostponePeriod},
			</if>
		</trim>
		WHERE
			class_policy_code= #{classPolicyCode};
	</update>
	<delete id="deleteClassPolicy" parameterType="String">
		DELETE
		FROM 
			class_policy
		WHERE
			class_policy_code = #{classPolicyCode};
	</delete>
	
	<insert id="addRegularClass" parameterType="RegularClass">
		INSERT INTO regular_class
		(   regular_class_code
		   ,class_policy_code
		   ,course_name
		   ,course_language
		   ,manager_id
		   ,course_tuition
		) VALUES (
		    CONCAT(NOW(), 'id001')
		   ,#{classPolicyCode}
		   ,#{courseName}
		   ,#{courseLanguage}
		   ,#{managerId}
		   ,#{courseTuition}
		);	
	</insert>
	<select id="getClassApplyList" parameterType="ClassApply" resultMap="classApplyResultMap">
		SELECT
			student_id,
			regular_class_code, 
			class_start_time, 
			class_start_date, 
			registration_date, 
			apply_approve_code, 
			apply_approve_date
		FROM 
			class_apply order by student_id ASC limit 0,10;
	</select>
</mapper>