<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="callinedu.callin.mapper.ClassMapper">
	<resultMap type="ClassPolicy" id="classPolicyResultMap">
		<result property="classPolicyCode" 			column="class_policy_code"/>
		<result property="classPolicyName" 			column="class_policy_name"/>
		<result property="classPeriod" 				column="class_period"/>
		<result property="classDay" 				column="class_day"/>
		<result property="classTime" 				column="class_time"/>
		<result property="classPostponeDay" 		column="class_postpone_day"/>
		<result property="classPostponeDays" 		column="class_postpone_days"/>
		<result property="classPostponePeriod" 		column="class_postpone_period"/>
		<result property="modifyDate" 				column="modify_date"/>
		<result property="modifyUser" 				column="modify_user"/>
	</resultMap>
	
	<resultMap type="RegularClass" id="regularClassResultMap">
		<result property="regularClassCode" 			column="regular_class_code"/>
		<result property="classPolicyCode" 			column="class_policy_code"/>
		<result property="courseName" 				column="course_name"/>
		<result property="courseLanguage" 				column="course_language"/>
		<result property="managerId" 		column="manager_id"/>
		<result property="courseTuition" 		column="course_tuition"/>
	</resultMap>
	
	
	
	<insert id="addClassPolicy" parameterType="ClassPolicy">
		INSERT INTO class_policy
		(   class_policy_code
		   ,class_policy_name
		   ,class_period
		   ,class_day
		   ,class_time
		   ,class_postpone_day
		   ,class_postpone_days
		   ,class_postpone_period
		   ,modify_date
		   ,modify_user
		) VALUES (
		    CONCAT(NOW(), 'id001')
		   ,#{classPolicyName}
		   ,#{classPeriod}
		   ,#{classDay}
		   ,#{classTime}
		   ,#{classPostponeDay}
		   ,#{classPostponeDays}
		   ,#{classPostponePeriod}
		   ,CURDATE()
		   ,'id001'
		);	
	</insert>
	
	<select id ="classPolicyNameCheck" parameterType="ClassPolicy" resultMap="classPolicyResultMap">
	    SELECT
	    	class_policy_code
		   ,class_policy_name
		   ,class_period
		   ,class_day
		   ,class_time
		   ,class_postpone_day
		   ,class_postpone_days
		   ,class_postpone_period
		   ,modify_date
		   ,modify_user
	    FROM
			class_policy
	    WHERE
			class_policy_name = #{classPolicyName};
	</select>

	
	<select id="searchPolicyList" parameterType="String" resultMap="classPolicyResultMap">
		SELECT
			  class_policy_code
			, class_policy_name			
			, class_period				
			, class_day
			, class_time
			, class_postpone_day
			, class_postpone_days
			, class_postpone_period
		FROM
			class_policy
		<where>
			<if test="classPeriod != null and classPeriod != null"> <!-- 정책명 기간 분 -->
			</if>
		</where>
	</select>
	
	<select id="getClassPolicy" parameterType="ClassPolicy" resultMap="classPolicyResultMap">
		SELECT
			class_policy_code,
			class_policy_name, 
			class_period, 
			class_day, 
			class_time, 
			class_postpone_day, 
			class_postpone_days, 
			class_postpone_period
		FROM class_policy
			order by class_policy_name ASC limit 0,10;
	</select>
	<delete id="deleteClassPolicy" parameterType="String">
		DELETE
		FROM 
			class_policy
		WHERE
			class_policy_code = #{classPolicyCode};
	</delete>
	
</mapper>