<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
    
<mapper namespace="callinedu.callin.mapper.EbookMapper">
  	<resultMap type="EbookData" id="ebookDataResultMap">
		<result property="ebookDataCode" 			column="ebook_data_code"/>
		<result property="ebookName" 				column="ebook_name"/>
		<result property="ebookLevel" 				column="ebook_level"/>
		<result property="ebookFile" 				column="ebook_file"/>
		<result property="registrationDate" 		column="registration_date"/>
		<result property="managerId" 				column="manager_id"/>
	</resultMap>
	
	<!-- 교재 등록 -->
	<insert id="ebookRegister" parameterType="String">
		INSERT INTO ebook_data
			(	  ebook_data_code
				, ebook_name
				, ebook_level
				, ebook_file
				, registration_date
				, manager_id
			)VALUES(
				  #{ebookDataCode}
				, #{ebookName}
				, #{ebookLevel}
				, #{ebookFile}
				, CURDATE()
				, #{managerId}
			 );
	</insert>
	

	<!-- 교재 목록조회 -->
 	<select id="getEbookList" resultMap="ebookDataResultMap" parameterType="String">
		SELECT 
			  ebook_data_code
			, ebook_name
			, ebook_level
			, ebook_file
			, registration_date
			, manager_id
		FROM 
			ebook_data
	</select>
	
	<!-- 교재목록검색 -->
 	<select id="getEbookListBySearchKey" resultMap="ebookDataResultMap" parameterType="String">
		SELECT 
			  ebook_data_code
			, ebook_name
			, ebook_level
			, ebook_file
			, registration_date
			, manager_id
		FROM 
			ebook_data
		<trim prefix="WHERE" prefixOverrides="AND |OR ">
			<if test="searchKey != null and searchKey != ''.toString()">
				${searchKey} LIKE CONCAT('%', #{searchValue},'%')
			</if>
		</trim>	
	</select>
	
	<!-- 교재수정 -->
	<update id="ebookModify" parameterType="String">
		UPDATE ebook_data
		<trim prefix="SET" suffixOverrides=",">
			<if test="ebookName != null and ebookName != ''.toString()">
				ebook_name = #{ebookName},
			</if>
			<if test="ebookLevel != null and ebookLevel != ''.toString()">
				ebook_level = #{ebookLevel},
			</if>
			<if test="ebookFile != null and ebookFile != ''.toString()">
				ebook_file = #{ebookFile},
			</if>
		</trim>
		WHERE
			ebook_data_code= #{ebookDataCode};
	</update>
	
	<select id="getEbookInfoByCode" resultMap="ebookDataResultMap" parameterType="String">
		SELECT 
			  ebook_data_code
			, ebook_name
			, ebook_level
			, ebook_file
			, registration_date
			, manager_id
		FROM 
			ebook_data
		<trim prefix="WHERE" prefixOverrides="AND |OR ">
			ebook_data_code=#{ebookDataCode}
		</trim>	
	</select>
	
	
	
	
	<!-- 교재삭제   -->
	<delete id="deleteEbookList" parameterType="String">
		DELETE
		FROM 
			ebook_data
		WHERE
			ebook_data_code = #{ebookDataCode};
	</delete>
	<!-- 교재삭제 Ajax -->
	<delete id="deleteEbookListAjax" parameterType="String">
		DELETE
		FROM 
			ebook_data
		WHERE
			ebook_data_code = #{ebookDataCode};
	</delete>
	
</mapper>