<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="callinedu.callin.mapper.LTMapper">
	<resultMap type="LTApplyCode" id="lTApplyCodeResultMap">
		<result property="lTCode" 					column="lt_code"/>
		<result property="managerId" 				column="manager_id"/>
		<result property="studentId" 				column="student_id"/>
		<result property="lTApplyDate" 				column="lt_apply_date"/>
		<result property="lTHopeTime" 				column="lt_hope_time"/>
		<result property="requestedTerm" 			column="requested_term"/>
		<result property="approval" 				column="approval"/>
		<result property="approvalDate" 			column="approval_date"/>
		<association property="user" javaType="User">
			<id property="userId" column="user_id"/>
			<result property="userName" column="user_name"/>
			<result property="userEmail" column="user_email"/>
			<result property="userPhone" column="user_phone"/>
			<result property="userId" column="user_id"/>
			<result property="userNickname" column="user_nickname"/>
			<result property="skypeId" column="skype_id"/>
		</association>
	</resultMap>
	
	<insert id="LTApply" parameterType="LTApplyCode">
		INSERT INTO lt_apply_code
		(	lt_code
			, user_id
			, lt_apply_date
			, lt_hope_date
			, lt_hope_time
			, requested_term
			, approval
			, approval_date
			, manager_id
		) VALUES (
			lTCode
			,#{studentId}
			,#{ltApplyDate}
			,#{ltHopeDate}
			,#{ltHopeTime}
			,#{requestedTerm}
			,#{approval}
			,#{approvalDate}
			,#{managerId}
			);
	</insert>
	
	
	<select id="getLTApplyListBySearchKey" parameterType="String" resultMap="lTApplyCodeResultMap">
		SELECT
			l.lt_code
			,l.lt_apply_date
			, u.user_name
			, u.user_email
			, u.user_phone
		FROM
			lt_apply_code AS l
		INNER JOIN
			user_info AS u
		ON
			u.user_id=l.student_id
		<trim prefix="WHERE" prefixOverrides="AND |OR ">
			<if test="levelSearchKey != null and levelSearchKey != ''">
				${levelSearchKey} LIKE CONCAT('%', #{lTApplySearchValue} ,'%')
			</if>
			<if test="searchStartDate != null and searchStartDate != ''">
				AND DATE(lt_apply_date) BETWEEN #{searchStartDate} AND #{searchEndDate}
			</if>
		</trim>
	</select>
	
	
	
</mapper>