<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="callinedu.callin.mapper.LTMapper">
	<resultMap type="LTApplyCode" id="lTApplyCodeResultMap">
		<result property="lTCode" 					column="lt_code"/>
		<result property="studentId" 				column="student_id"/>
		<result property="userNameEx" 				column="user_name_ex"/>
		<result property="userNicknameEx" 			column="user_nickname_ex"/>
		<result property="skypeIdEx" 				column="skype_id_ex"/>
		<result property="userEmailEx" 				column="user_email_ex"/>
		<result property="userPhoneEx" 				column="user_phone_ex"/>
		<result property="lTApplyDate" 				column="lt_apply_date"/>
		<result property="lTHopeDate" 				column="lt_hope_date"/>
		<result property="lTHopeTime" 				column="lt_hope_time"/>
		<result property="requestedTerm" 			column="requested_term"/>
		<association property="user" javaType="User">
			<id property="userId" column="user_id"/>
			<result property="userName" column="user_name"/>
			<result property="userEmail" column="user_email"/>
			<result property="userPhone" column="user_phone"/>
			<result property="userId" column="user_id"/>
			<result property="userNickname" column="user_nickname"/>
			<result property="skypeId" column="skype_id"/>
		</association>
	</resultMap>
	
	<!-- LT신청 -->
	<insert id="LTApply" parameterType="String">
			INSERT INTO lt_apply_code
				(	  lt_code
					, student_id
					, user_name_ex
					, user_nickname_ex
					, skype_id_ex
					, user_email_ex
					, user_phone_ex
					, lt_apply_date
					, lt_hope_date
					, lt_hope_time
					, requested_term
				) VALUES (
					(Select CONCAT('level_test_code', '_', (SELECT LPAD(COUNT(*)+1,2,'0') FROM lt_apply_code AS LAC)))
					, #{studentId}
					, #{userNameEx}
					, #{userNicknameEx}
					, #{skypeIdEx}
					, #{userEmailEx}
					, #{userPhoneEx}
					,CURDATE()
					, #{lTHopeDate}
					, #{lTHopeTime}
					, #{requestedTerm}
				 );
	</insert>
	
	<!-- LT신청목록조회 -->
	<select id="getlTApplyList" parameterType="String" resultMap="lTApplyCodeResultMap">
		SELECT
			lt_code
			,lt_apply_date
			, user_name_ex
			, user_email_ex
			, user_phone_ex
		FROM
			lt_apply_code
	</select>
	
	<!-- LT신청목록검색 -->
	<select id="getLTApplyListBySearchKey" resultMap="lTApplyCodeResultMap" parameterType="String">
		SELECT
			lt_code
			,lt_apply_date
			, user_name_ex
			, user_email_ex
			, user_phone_ex
		FROM
			lt_apply_code
		<trim prefix="WHERE" prefixOverrides="AND |OR ">
			<if test="searchKey != null and searchKey != ''.toString()">
				${searchKey} LIKE CONCAT('%', #{searchValue},'%')
			</if>
			<if test="dateRangeFirst != null and dateRangeFirst != ''">
				AND lt_apply_date BETWEEN DATE(#{dateRangeFirst}) AND DATE(#{dateRangeLast})
			</if>
		</trim>
	</select>
	
	<!-- LT신청삭제   -->
	<delete id="deleteLTApplyList" parameterType="String">
		DELETE 
		FROM
			lt_apply_code
		WHERE
			lt_code= #{ltCode};
	</delete>
	
	
	
	
</mapper>