<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
	  
<th:block layout:fragment="customTitle">
	<title th:text="${title}"></title>
</th:block>
<head th:replace="fragments/head :: headFragment"></head>
	<!-- daterange picker -->
	<link rel="stylesheet" th:href="@{/AdminLTE-master/plugins/daterangepicker/daterangepicker.css}">
	<body class="hold-transition sidebar-mini layout-fixed">
		<div id="wrapper">
			<!-- begin topNav -->
			<div th:replace="fragments/topNav :: topNavFragment"></div>
			<!-- end topNav -->
			
			<!-- Main Sidebar Container -->
			<div th:replace="fragments/sideBar :: sideBarFragment01"></div>
			<th:block layout:fragment="classPolicy"> 
				<!-- Content Wrapper. Contains page content -->
			<div class="content-wrapper">
			<!-- Content Header (Page header) -->
				<section class="content-header">
					<div class="container-fluid">
						<div class="row mb-2">
							<div class="col-sm-6">
								<h1 th:text="${midTitle}"></h1>
							</div>
							<div class="col-sm-6">
								<ol class="breadcrumb float-sm-right">
									<li class="breadcrumb-item"><a th:href="@{/admin/class/classPolicy}">수업관리</a></li>
									<li class="breadcrumb-item active" th:text="${midTitle}"></li>
								</ol>
							</div>
						</div>
					</div><!-- /.container-fluid -->
				</section>
			
			    <!-- Main content -->
				<section class="content">
					<div class="container-fluid">
						<div class="card card-secondary">
							<div class="card-header">
								<h3 class="card-title"> 수업 정책 리스트 </h3>
							</div>
							<!-- /.card-header -->
							<div class="card-body form-group">
								<div class="float-right">
									<form class="form-inline">
										<div class="form-group"> 
											<select class="form-control">
												<option>정책명</option>
												<option>수업기간(주)</option>
												<option>수업시간(분)</option>
											</select>
											<input type="text" class="form-control">
											<button class="btn btn-default "> 검색 </button> 
										</div>
									</form>
								</div>
								<table class="table table-striped" >
									<thead>
										<tr>
											<th>
												정책명
											</th>
											<th>
												수업기간
											</th>
											<th>
												수업요일
											</th>
											<th>
												수업시간
											</th>
											<th>
												연기(일일)횟수
											</th>
											<th>
												연기(장기)횟수
											</th>
											<th>
												연기(장기)기간
											</th>
										</tr>
									</thead>
									<tbody>
										<th:block th:if="${!#lists.isEmpty(classPolicy)}" >         
											<tr th:each="l : ${classPolicy}">
												<td th:text="${l.classPolicyName}"></td>
												<td th:text="${l.classPeriod}"></td>
												<td th:text="${l.classDay}"></td>
												<td th:text="${l.classTime}"></td>
												<td th:text="${l.classPostponeDay}"></td>
												<td th:text="${l.classPostponeDays}"></td>
												<td th:text="${l.classPostponePeriod}"></td>
												<!-- <td>
												<a th:href="@{/#}">수정</a>
												</td>
												<td>
												<a th:href="@{/#}">삭제</a>
												</td> -->
											</tr>
										</th:block>
										<tr th:unless="${!#lists.isEmpty(classPolicy)}">
											<td colspan="16">조회된 데이터가 없습니다</td>
										</tr>
									</tbody>
								</table>
							</div>
							
						</div>
					</div>
				</section>
				<!-- /.row -->
			</div><!-- /.container-fluid -->
			<!-- /.content -->
		</th:block>
		
		<div th:replace="fragments/footer :: footerFragment"></div>
		</div>
		<!-- jQuery -->
		<script th:src="@{/AdminLTE-master/plugins/jquery/jquery.min.js}"></script>
		<!-- jQuery UI 1.11.4 -->
		<script th:src="@{/AdminLTE-master/plugins/jquery-ui/jquery-ui.min.js}"></script>
		<!-- Resolve conflict in jQuery UI tooltip with Bootstrap tooltip -->
		<script>
		  $.widget.bridge('uibutton', $.ui.button)
		</script>
		<!-- Bootstrap 4 -->
		<script th:src="@{/AdminLTE-master/plugins/bootstrap/js/bootstrap.bundle.min.js}"></script>
		<!-- ChartJS -->
		<script th:src="@{/AdminLTE-master/plugins/chart.js/Chart.min.js}"></script>
		<!-- Sparkline -->
		<script th:src="@{/AdminLTE-master/plugins/sparklines/sparkline.js}"></script>
		<!-- daterangepicker -->
		<script th:src="@{/AdminLTE-master/plugins/moment/moment.min.js}"></script>
		<script th:src="@{/AdminLTE-master/plugins/daterangepicker/daterangepicker.js}"></script>
		<!-- date-range-picker -->
		<script th:src="@{/AdminLTE-master/plugins/daterangepicker/daterangepicker.js}"></script>
		<!-- Tempusdominus Bootstrap 4 -->
		<script th:src="@{/AdminLTE-master/plugins/tempusdominus-bootstrap-4/js/tempusdominus-bootstrap-4.min.js}"></script>
		<!-- Summernote -->
		<script th:src="@{/AdminLTE-master/plugins/summernote/summernote-bs4.min.js}"></script>
		<!-- overlayScrollbars -->
		<script th:src="@{/AdminLTE-master/plugins/overlayScrollbars/js/jquery.overlayScrollbars.min.js}"></script>
		<!-- AdminLTE App -->
		<script th:src="@{/AdminLTE-master/dist/js/adminlte.js}"></script>
		<!-- AdminLTE for demo purposes -->
		<!-- <script th:src="@{/AdminLTE-master/dist/js/pages/dashboard.js}"></script> -->
		<script>
			$(function () {
		    //Date range picker
		    $('#reservation').daterangepicker()})
		</script>
		<!-- 정책 이름 중복확인 에이잭스 부분 -->
		<script type="text/javascript">
		$(function(){
			$("#policyCheck").on("click", function(){
				var classPolicyName = $("#classPolicyName").val();
				var sendData = {"classPolicyName":classPolicyName}
				$.ajax({
					method : 'POST',
					url : 'classPolicyNameCheck',
					data : sendData,
					success : function(resp){
						if(classPolicyName == null || classPolicyName == '') {
							$('#available').css('display', 'none');
							$('#in_use').css('display', 'none');
							$('#no_name').css('display', 'inline');
							flag=false;
						}
						else if(resp=='fail'){
							$('#available').css('display', 'none');
							$('#in_use').css('display', 'inline');
							$('#no_name').css('display', 'none');
							flag=false;
						}else{
							$('#available').css('display', 'inline');
							$('#in_use').css('display', 'none');
							$('#no_name').css('display', 'none');
							flag=true;
						}
					}
			    })	
			});
		})
		function checkAll() {
			if (document.getElementById('classPolicyName').value == '') {
				alert('정책명을 입력해 주세요.');
				return false;
			}else if (document.getElementById('classPeriod').value == ':: 선택하세요 ::') {
				alert('기간을 입력해 주세요.');
				return false;
			}else if (document.getElementById('classDay').value == ':: 선택하세요 ::') {
				alert('요일을 입력해 주세요.');
				return false;
			}else if (document.getElementById('classTime').value == ':: 선택하세요 ::') {
				alert('수업 시간을 입력해 주세요.');
				return false;
			}else if (document.getElementById('classPostponeDay').value == ':: 선택하세요 ::') {
				alert('연기(일일)횟수를 입력해 주세요.');
				return false;
			}else if (document.getElementById('classPostponeDays').value == ':: 선택하세요 ::') {
				alert('연기(장기)횟수를 입력해 주세요.');
				return false;
			}else if (document.getElementById('classPostponePeriod').value == '') {
				alert('연기 기간을 입력해 주세요.');
				return false;
			}
			alert('정책 등록이 완료되었습니다!'); 
			document.getElementById('submitAll').submit();
			return true;
		}


		</script>
</body>
</html>