<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
	  
<th:block layout:fragment="customTitle">
	<title th:text="${title}"></title>
</th:block>
<head th:replace="fragments/head :: headFragment"></head>
	<!-- daterange picker -->
	<link rel="stylesheet" th:href="@{/AdminLTE-master/plugins/daterangepicker/daterangepicker.css}">
	<body class="hold-transition sidebar-mini layout-fixed">
		<div id="wrapper">
			<!-- begin topNav -->
			<div th:replace="fragments/topNav :: topNavFragment"></div>
			<!-- end topNav -->
			
			<!-- Main Sidebar Container -->
			<div th:replace="fragments/sideBar :: sideBarFragment01"></div>
			<th:block layout:fragment="classPolicy"> 
				<!-- Content Wrapper. Contains page content -->
			<div class="content-wrapper">
			<!-- Content Header (Page header) -->
				<section class="content-header">
					<div class="container-fluid">
						<div class="row mb-2">
							<div class="col-sm-6">
								<h1 th:text="${midTitle}"></h1>
							</div>
							<div class="col-sm-6">
								<ol class="breadcrumb float-sm-right">
									<li class="breadcrumb-item"><a th:href="@{/admin/class/classPolicy}">수업관리</a></li>
									<li class="breadcrumb-item active" th:text="${midTitle}"></li>
								</ol>
							</div>
						</div>
					</div><!-- /.container-fluid -->
				</section>
			
			    <!-- Main content -->
				<section class="content">
					<div class="container-fluid">
						<form>
							<div class="row">
							<!-- left column -->
								<div class="col-md-3">
								<!-- general form elements -->
									<div class="card card-secondary">
										<div class="card-header">
											<h3 class="card-title"> 정규 수업 개설 </h3>
										</div>
										<!-- /.card-header -->
										<div class="card-body">
											<div class="form-group">
												<label> 수업명 </label>
												<div class="input-group-prepend">
													<input type="text" id="courseName"> 
												</div>
											</div>
											<div class="form-group">
												<label> 수업 정책 </label>
												<div class="input-group-prepend">
													<input type="text" id="classPolicyName" readonly="readonly"> 
												</div>
											</div>
											<div class="form-group">
												<label> 과정 수강료 </label>
												<div class="input-group-prepend">
													<input type="text" id="courseTuition"> 
												</div>
											</div>
											<div class="form-group">
												<label> 등록자 </label>
												<div class="input-group-prepend">
													<input type="text" id="managerId" value="id001" readonly="readonly"> 
												</div>
											</div>
										</div>
									</div>
								<!-- /.card -->
								</div>
								<!--/.col (left) -->
								<!-- Right column -->
								<div class="col-md-9">
									<!-- general form elements -->
									<div class="card card-secondary">
										<div class="card-header">
											<h3 class="card-title"> 수업 정책 선택 </h3>
										</div>
										<div class="card-body row">
											<form class="form-inline">
												<div class="form-group col-md-10">
													<div class="form-group"> 
														<select class="form-control levelSearchKey">
															<option value="policyName">정책명</option>
															<option value="classPeriod">수업기간(주)</option>
															<option value="classTime">수업시간(분)</option>
														</select>
														<div id="searchByName" style="display: block;">
															<input type="text" class="form-control">
														</div>
														<div id="searchByPeriod" style="display: none;">
															<select class="form-control" id="classPeriod">
																<option> :: 선택하세요 ::</option>
																<option value="4"> 4주 </option>
																<option value="8"> 8주 </option>
																<option value="12"> 12주 </option>
															</select>
														</div>
														<div id="searchByTime" style="display: none;">
															<select class="form-control" id="classTime">
																<option> :: 선택하세요 ::</option>
																<option value="10"> 10분 </option>
																<option value="20"> 20분 </option>
																<option value="30"> 30분 </option>
																<option value="40"> 40분 </option>
																<option value="50"> 50분 </option>
															</select>
														</div>
														<button class="btn btn-default "> 검색 </button> 
													</div>
												</div>
												<div class="form-group col-md-2">
													<label> 정책 찾기 </label>
													<button type="button" class="btn btn-primary" style="font-size: 12px; height: 38px; display: block;" id="searchPolicy"> 찾기</button>
												</div>
											</form>
										</div>
									</div>
									<div class="card card-secondary">
										<div class="card-header">
											<h3 class="card-title"> 정책 목록 </h3>
										</div>
										<div class="card-body">
											<table class="form-group table">
												<thead>
													<tr>
														<th> 정책명</th>
														<th> 수업 기간 </th>
														<th> 수업요일 </th>
														<th> 수업 시간 </th>
														<th> 연기(일) </th>
														<th> 연기(장기) </th>
														<th> 연기(일수) </th>
														<th> 선택버튼 </th>
													</tr>
												</thead>
												<tbody>
													<th:block th:if="${!#lists.isEmpty(classPolicy)}" >         
														<tr th:each="l : ${classPolicy}">
															<td th:text="${l.classPolicyName}"></td>
															<td th:text="${l.classPeriod}"></td>
															<td th:text="${l.classDay}"></td>
															<td th:text="${l.classTime}"></td>
															<td th:text="${l.classPostponeDay}"></td>
															<td th:text="${l.classPostponeDays}"></td>
															<td th:text="${l.classPostponePeriod}"></td>
															<!-- <td>
															<a th:href="@{/#}">수정</a>
															</td>
															<td>
															<a th:href="@{/#}">삭제</a>
															</td> -->
														</tr>
													</th:block>
													<tr th:unless="${!#lists.isEmpty(classPolicy)}">
														<td colspan="16">조회된 데이터가 없습니다</td>
													</tr>
												</tbody>
											</table>
										</div>
									</div>
								</div>
							<!-- /.card -->
							</div>
							<div>
								<button style="width: 200px; margin-left: 750px"  type="submit" class="form-control"> 정규 수업 등록 </button>
							</div>
						</form>
						<!--/.col (right) --> 
					</div>
				</section>
				<!-- /.row -->
			</div><!-- /.container-fluid -->
			<!-- /.content -->
		</th:block>
			
		<div th:replace="fragments/footer :: footerFragment"></div>
		</div>
		<!-- jQuery -->
		<script th:src="@{/AdminLTE-master/plugins/jquery/jquery.min.js}"></script>
		<!-- jQuery UI 1.11.4 -->
		<script th:src="@{/AdminLTE-master/plugins/jquery-ui/jquery-ui.min.js}"></script>
		<!-- Resolve conflict in jQuery UI tooltip with Bootstrap tooltip -->
		<script>
		  $.widget.bridge('uibutton', $.ui.button)
		</script>
		<!-- Bootstrap 4 -->
		<script th:src="@{/AdminLTE-master/plugins/bootstrap/js/bootstrap.bundle.min.js}"></script>
		<!-- ChartJS -->
		<script th:src="@{/AdminLTE-master/plugins/chart.js/Chart.min.js}"></script>
		<!-- Sparkline -->
		<script th:src="@{/AdminLTE-master/plugins/sparklines/sparkline.js}"></script>
		<!-- daterangepicker -->
		<script th:src="@{/AdminLTE-master/plugins/moment/moment.min.js}"></script>
		<script th:src="@{/AdminLTE-master/plugins/daterangepicker/daterangepicker.js}"></script>
		<!-- date-range-picker -->
		<script th:src="@{/AdminLTE-master/plugins/daterangepicker/daterangepicker.js}"></script>
		<!-- Tempusdominus Bootstrap 4 -->
		<script th:src="@{/AdminLTE-master/plugins/tempusdominus-bootstrap-4/js/tempusdominus-bootstrap-4.min.js}"></script>
		<!-- Summernote -->
		<script th:src="@{/AdminLTE-master/plugins/summernote/summernote-bs4.min.js}"></script>
		<!-- overlayScrollbars -->
		<script th:src="@{/AdminLTE-master/plugins/overlayScrollbars/js/jquery.overlayScrollbars.min.js}"></script>
		<!-- AdminLTE App -->
		<script th:src="@{/AdminLTE-master/dist/js/adminlte.js}"></script>
		<!-- <script th:src="@{/AdminLTE-master/dist/js/pages/dashboard.js}"></script> -->
		<script>
			$(function () {
		    //Date range picker
		    $('#reservation').daterangepicker()})
		</script>
		<script type="text/javascript">
		$(function(){
			$("#searchPolicy").on("click", function(){
				
				var classPeriod = $("#classPeriod").val();
				var classDay = $("#classDay").val();
				var classTime = $("#classTime").val();
				var html = "";
				var sendData = {	"classPeriod":classPeriod
								,	"classDay":classDay
								,	"classTime":classTime}
				$.ajax({
					method : 'POST',
					url : '/admin/class/searchPolicyList',
					data : sendData,
					success : function(resp){
						console.log(resp[0])
					}
			    })	
				
			});
		})
		</script>
		
</body>
</html>