<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<!-- Main Sidebar Container -->
  <aside id="sideBar" th:fragment="sideBarFragment01" class="main-sidebar sidebar-dark-primary elevation-4">
    <!-- Brand Logo -->
    <label>
    <a th:href="@{/}" class="brand-link" style="height:60px">
      <img th:src="@{/AdminLTE-master/dist/img/Callin-logo2.png}" alt="AdminLTE Logo" class="brand-image  " style="opacity: .8">
      <span class="brand-text font-weight-light"></span>
    </a>
	</label>	
    <!-- Sidebar -->
    <div class="sidebar">
      <!-- Sidebar user panel (optional) -->
      <div class="user-panel mt-3 pb-3 mb-3 d-flex">
<!--         <div class="image"> -->
<!--           <img th:src="@{/AdminLTE-master/dist/img/publish_date_icon.jpg}" class=" elevation-2" alt="User Image"> -->
<!--         </div> -->
<!--         <div class="info"> -->
<!--           <a href="#" class="d-block"> 2021-10-01</a> -->
<!--         </div> -->
		
        <div th:if="${session.SID == null}" style="text-align:left;">
			<label>	

			 <a href="#" class="d-block"> 최종 배포일자 : 2021-10-26</a> <br>

			 <a th:href="@{/login}" class="d-block" style="color: olive;">로그인</a>
			 <a th:href="@{/register}" class="d-block" style="color: olive;">회원가입</a>
			</label>
			
		</div>
        <div th:unless="${session.SID == null}" style="text-align:left;">
			<label style="font: bold; color: white;">	
				 <span class="d-block"> 최종 배포일자 : 2021-10-26</span> 
				 <span>[[${session.SNAME}]]님</span> <span>｜ [[${session.SLEVEL}]] ｜ </span>  <a href="#"> [내정보]</a>  
				 <a th:href="@{/logout}" class="d-block" style="color: olive;">로그아웃</a>
			</label>
			
		</div>
      </div>

      <!-- SidebarSearch Form -->
      <div class="form-inline">
        <div class="input-group" data-widget="sidebar-search">
          <input class="form-control form-control-sidebar" type="search" placeholder="Search" aria-label="Search">
          <div class="input-group-append">
            <button class="btn btn-sidebar">
              <i class="fas fa-search fa-fw"></i>
            </button>
          </div>
        </div>
      </div>	
		
      <!-- Sidebar Menu -->
      <nav th:replace="fragments/sideMenu :: sideBarMenu"></nav>
      <!-- /.sidebar-menu -->
      
    </div>
    <!-- /.sidebar -->
  </aside>
  
</html>